/* Reset CSS biar tampilan konsisten di semua browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #c44569;
}

input, select {
  font-size: 16px;
}
